<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="mini-dark.min.css">
	<link rel="stylesheet" href="style.css">
	<title></title>
</head>
<body>

	<% if (locals.err_msg != undefined) { %>
		<p>username or password incorrect</p>
	<% } %>

	<% if (locals.login) { %>
		<%- include('login_form') %>
	<% } %>
	
	<% if (locals.userExists) { %>
		<p>username allready exists<p>
	<% } %>

	<% if (locals.registration) { %>
		<%- include('registration') %>
	<% } %>
	
	<% if (locals.todos) { %>
		<%- include('todolist') %>
	<% } %>

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src='main.js'></script>
</body>
</html>
