<form method='post' action='/login'>
  <fieldset>
	<legend>Login</legend>
	<div class="row">
	  <div class="col-sm-12 col-md-6">
		<label for="username">Username</label>
		<input type="text" id="Username" name='username' placeholder="Username"/>
	  </div>
	  <div class="col-sm-12 col-md-6">
		<label for="password">Password</label>
		<input type="password" id="password" name='password' placeholder="Password"/>
	  </div>
		<div class="col-sm-12 col-md-6">
			<input type="submit" value='login'>
		</div>
	</div>
  </fieldset>
</form>

