<form method='post' action='/registration'>
  <fieldset>
    <legend>sign up</legend>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <label for="username">Username</label>
        <input type="text" id="Username" name='name' placeholder="Username"/>
      </div>
      <div class="col-sm-12 col-md-6">
        <label for="password">Password</label>
        <input type="password" id="password" name='password' placeholder="Password"/>
      </div>
		<div class='col-sm-12 col-md-6'>
			<input type="submit" value='sign up'>
		</div>
	</div>
  </fieldset>
</form>
